
body {
    margin: 0;
    padding: 0;
    background-color: #ed595b;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    gap: 10em;
    margin: 5% auto;
}

.apresentacao__logo {
    text-align: center;
}

.apresentacao__loading {
    text-align: center;
    width: 25%;
    margin: auto;
}

img {
    width: 35%;
}